div[user-card]{
    height: 150px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b9fbc083;
    min-width: 250px;
}

div[user-card] > h2{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #023e8a;
}
div[user-card] > p{
    font-weight: 300;
    font-size: 0.85rem;
    color: #0096c7;
}